<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Course/src/reverse_alternate_k_nodes/Reverse_Alternate_K_Nodes.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="reverse_alternate_k_nodes.Reverse_Alternate_K_Nodes"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Course"/>
</launchConfiguration>
